@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid #fff

@media mq-mobile
  .mobile-nav-link
    display: block
    color: #dce3e5
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    &:hover
      color: #fff

// Force single-column layout on mobile/tablet
@media mq-mobile-tablet
  #main
    float: none
    width: 100%
    margin: 0

  #sidebar
    display: none
